spring:
  datasource:
    url: ${DB_URL:jdbc:mysql://prod-db-server:3306/account_customer_db}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:
      maximum-pool-size: 20
      minimum-idle: 10
  
  jpa:
    show-sql: false
    properties:
      hibernate:
        format_sql: false

logging:
  level:
    root: WARN
    com.example.demo: INFO
    org.springframework.web: WARN
    org.hibernate.SQL: WARN

server:
  port: ${SERVER_PORT:8080}
  error:
    include-stacktrace: never
